

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - christmasParty </title>
    <link rel="stylesheet" href="~lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-image:url('images/christmas.jpg');" runat="server">
    <div class="text-center">
        <h1 class="text-white" style="text-align:center; margin:60px;">Новогодишно парти</h1>
        <p class="text-white" style="font-size:16pt;margin:40px;line-height:28pt;">Заповядайте на 20.12.2021 г. на нашето брутално яко коледни парти :))) </p>
        <div class="text-center">
            <a class="btn btn-primary w-50 m-2" style="font-size:16pt" asp-controller="Home" asp-action="RsvpForm"> Попълнете формуляра</a>

        </div>
    </div>
</body>
</html>
